.navigation {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.25em 2em 0 2em;
  position: sticky;
  top: 0;
}

@media (max-width: 768px) {
  .navigation {
    padding-bottom: 0.25em;
  }
}

.cart {
  margin-left: auto;
  margin-right: 1em;
}

.categories {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .categories {
    display: none;
  }
}

.back {
  margin: 0 1em;
}

@media (min-width: 769px) {
  .back {
    display: none;
  }
}

.categoryLink {
  border-bottom: 2px solid transparent;
  font-size: 0.8em;
  margin: 0 1em;
}

.categoryLink:hover {
  border-bottom-color: 2px solid '#d1dfea';
}

.categoryLink.active {
  border-bottom-color: #486982;
}